.card-body {
    height: 70%;    
}

#header{
    font-size: 70px;
    margin-left: 20%;
    margin-top: 6%;
    margin-bottom: 6%;
}

#subtitle{
    font-size: 25px;
    /* margin-left: 10%; */
    text-align: center;
}

#surveyButton{
    align-content: center;
    margin-left: 40%;
    height: 70px;
    width: 130px;
    font-size: 20px;
    padding-top: 15px;
}
